<div class="container-fluid">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-12 mt-3" *ngFor="let item of detalleFicha; let i = index">
        <div class="cardccl">
          <div class="cardccl-body">
            <div class="cardccl-body-sup">
              <!-- QR Code y Nombre en una fila -->
              <div class="">
                <div class="qrcode-container">
                  <qrcode [qrdata]="vCardDownloadUrl" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
              </div>
              <div class="">
                <div class="infoName">
                  <p class="mb-0">{{ item.fullname | uppercase }}</p>
                </div>
                <div class="infoCargo d-flex mb-2">
                    <fa-icon [icon]="faBriefcase" class="icon me-2"></fa-icon>
                    <p class="text-muted mb-0">PROGRAMADOR FULL STACK</p>
                  </div>
                  <div class="infoCompany d-flex">
                    <fa-icon [icon]="faBuilding" class="icon me-2"></fa-icon>
                    <p class="text-muted mb-0">{{ item.empresa | uppercase }}</p>
                  </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  