p{
    margin: 0;
}

.cardccl{
    box-shadow: rgba(0, 0, 0, 0.35)  0px 0px 8px; 
    background-color: white;   
    border-left: #0056b3 10px solid;
    border-radius: 20px;
    max-width: 100%;

}



.infoName{
    display: flex;
    font-size: 2.2rem;
    font-weight: 600;
    color: #0056b3;
    padding-right: 20PX ;
}




.infoCompany{
    display: flex;
    font-size: 2.0rem;
    font-weight: 300;
    color: #b3b3b3;
}

.infoCompany p{
    margin-left: 5px;
}

.infoCargo{
    display: flex;
    font-size: 2.0rem;
    font-weight: 300;
    color: #b3b3b3;
}

.infoCompany p{
    margin-left: 5px;
}


.cardccl-body{
    justify-content: center;
    align-items: center;
    height: 100%;
}


.cardccl-body-sup{
    display: flex;
    align-items: center;
    
}


.cardccl-body-inf{
    margin: 15px;
}