.header {
    background: linear-gradient(90deg, #0056b3, #1c92d2);
    color: #ffffff;
    padding: 40px 20px;
    display: flex;
  }
  .header img.logo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
  }
  .header .welcome {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .header .title {
    font-size: 1.6rem;
    letter-spacing: 0.5px;
    margin-top: 0;
    line-height: 1.2;
    color: #f2a505;
  }
